APP_NAME=Gestion des formations API
API_V1_PREFIX=/api/v1
DATABASE_URL=postgresql://postgres:7KfGIThIqGKxR54v@db.aumsxytybherwugkotzk.supabase.co:5432/postgres
JWT_SECRET_KEY=change-this-access-secret
JWT_REFRESH_SECRET_KEY=change-this-refresh-secret
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080
CORS_ORIGINS=http://localhost:5173,https://pfe-project.vercel.app
    